<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Utilizadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-searchbar (ionInput)="filtrarUsuarios($event)"></ion-searchbar>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>
        <h2>{{ usuario.nome }}</h2>
        <p>{{ usuario.email }}</p>
        <p>{{ usuario.telefone }}</p>
        <p>{{ usuario.morada }}</p>
      </ion-label>
      <ion-icon name="trash" slot="end" (click)="excluirUsuario(usuario.id)"></ion-icon>
      <ion-icon name="create" slot="end" (click)="edit(usuario)"></ion-icon>
    </ion-item>
  </ion-list>



  <!-- Modal -->
  <ion-button id="open-modal" (click)="setOpen(true)" expand="block">Cadastrar Novo Utilizador</ion-button>
  <ion-modal trigger="open-modal" [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Utilizador</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <!-- Add Usuario -->
        <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text" formControlName="nome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Bilhete de Identidade</ion-label>
            <ion-input type="text" formControlName="nbi"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contacto</ion-label>
            <ion-input type="text" formControlName="telefone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Naturalidade</ion-label>
            <ion-input type="text" formControlName="morada"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Data De Nascimento</ion-label>
            <ion-input type="text" formControlName="dataDeNascimento"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Melhor Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
          <ion-button type="submit" expand="block" [disabled]="!validations_form.valid">Guardar</ion-button>
        </form>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>